/* HEADER */
header{
    background-color: #0084fd;
   
}

nav > .container{
    display: flex;
    margin-left: 1rem;
    justify-content: space-between;
    align-items: center;
    color: white;
}

ul li{
    list-style: none;
    display: inline-block;
    margin: 0 1rem;
}

.menu-bars{
    display: none;
}

/* header responsive*/
@media screen and (max-width: 780px) { 
    .link-nav{
        display: none;
    }

    .menu-bars{
        display: block;
    }
}

/* SECTION 1 */

.sect-1-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.sect-1-container > .card{
    background-color: #b5ddff;
    padding: 0 1rem;
}

.card-demo-big {
    width: calc(66% - 1rem);
    display: flex;
}

.card-demo-big  img{
    width: 80%;
}

.card-demo-big-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.sect-1-container h1, 
.icon
{
    color: #0084fd;
}

.icon{
    font-size: 4em;
}

.card-demo-big-text  button{
    background-color: #0084fd;
}

.card-demo-big-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.sect-1-container p{
    color: #5a6f80;
    font-weight: bold;
}

.card-demo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    padding: 1rem;
}

/*section 1 responsive*/
@media screen and (max-width: 768px){
    .card-demo-big{
        flex-direction: column;
        gap: 2rem;
    }

    .card-demo-big-text{
        width: 100%;
        gap: 1rem;
        padding-top: 2rem;
    }

    .card-demo-big-img{
        width: 80%;
        justify-content: flex-start;
    }
}

@media screen  and (max-width: 480px) {
    .sect-1-container {
        flex-direction: column;
        align-items: center;
    }

    .card-demo{
        width: 100%;
    }

    .card-demo-big {
    width: 100%;
    }
    .card-demo-big-img{
        
    }
}

/* section 2 */

.sect-2-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.col-sect-2{
    width: 40%;

    /* debug */
    height: 600px;
}

/*section 2 tablet + mobile*/

@media screen and (max-width: 768px){
    .sect-2-container{
        flex-direction: column;
        align-items: center;
    }

    .col-sect-2 {
            width: 100%;
    }
}

/* section 3 */

.sect-3-container{
    display: flex;
    flex-direction: column;
}
.text-partner{
    width: 100%;
    text-align: center;

    /* debug */
    background-color: yellow;
}

.col-partner{
    width: 100%;
    display: flex;
    background-color: #9792e4;
    
    /* debug */
    color: black;
}

/*section 3 mobile*/
@media screen and (max-width: 480px){
    .col-partner{
        flex-direction: column;
    }
}

/* section 4 */
.sect-4-container{
    display: flex;
    flex-direction: column;
}

.card-benefit-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.card-benefit{

    /* debug */
    background-color: green;

}

/* section 4 tablet*/

@media screen and (max-width:768px) {
    .card-benefit{
        width: calc(50% - 1rem);
    }
    
}

/* section 4 mobile*/

@media screen and (max-width:480px) {
    .card-benefit {
        width: 100%;
    }
}

/* section 5*/
.sect-5-container{
    display: flex;
}

.sect-5-text{

    /* debug */
    background-color: lightskyblue;
}

.sect-5-img {

    /* debug */
    background-color: rgb(22, 136, 206);
}

/* section 5 mobile*/
@media screen and (max-width:480px) {
    .sect-5-container{
        flex-direction: column;
    }
}

/* section 6*/
.sect-6-container{
    display: flex;
    justify-content: center;
}

.sect-6-content{
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    
    /* debug */
    background-color: #9792e4;
}

/* section 6 tablet*/
@media screen and (max-width:768px) {
    .sect-6-content {
        width: 90%;
    }
}

/* section 6 mobile*/
@media screen and (max-width:480px) {
    .sect-6-content {
        width: 100%;
    }
}

/* footer*/
footer{
    background-color: #222;
    color: white;
}
footer > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 2rem;

    /* debug */
   
}

/* footer tablet*/
@media screen and (max-width:768px) {
    .footer-content {
        width: 90%;
    }
}

/* footer mobile*/
@media screen and (max-width:480px) {
    .footer-content {
        width: 100%;
    }
}