header{
    background-color: blue;
   
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* section 1 */

.sect-1-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.card-demo{
    background-color: red;
   
}

.card {
    width: calc(33% - 1rem);
}

.card-demo-big {
    width: calc(66% - 1rem);
}