/* Utils */

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 1rem;
	
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

a{
	background-color: aqua;
}

button{
	border-radius: 2rem;
}

.card{
	border-radius: 2rem;
	width: calc(33% - 1rem);
	/* debug */
		height: 200px;
		color: black;

}